HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Generated artifact files
*.jar
*.war
*.zip
*.tar.gz

application-*.properties
application-*.yml

# ==========================================
# System & Log Files
# ==========================================
# Logs
*.log
logs/

# OS specific files
.DS_Store
Thumbs.db
Desktop.ini